################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codility1/.vs/Codility/v15/Server/sqlite3
