################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codility1/.vs/Codility/v15/Server/sqlite3
/Codility1/.vs/Codility/v15
/Codility1/obj/x86/Debug
/Codility1/bin/Debug
